html {
  font-size: 62.5%;
  margin: 0;
}
body {
  font-size: 2em;
  margin: 0;
}
header {
  background-color: yellow;
  font-size: 2rem;
  height: 20vh;
}
section {
  background-color: yellowgreen;
  font-size: 2em;
  height: 50vh;
}
nav {
  background-color: aquamarine;
  height: 30vh;
}

.content-1 {
  background-color: beige;
  width: 50%;
}
.content-2 {
  background-color: bisque;
  width: 50vw;
}

.item {
  background-color: cadetblue;
  width: 50%;
}
